.Folder {
    padding: 60px 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Folder h1 {
    font-size: 34px;
    line-height: 31px;
    color: rgba(17, 45, 8, 1);
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
}
.card{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.Folder h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 1rem;
    color: #0A4FB6;
    font-weight: 600;
}

.Folder label {
    width: 100%;
    font-size: 17px;
}

.Folder input, .Input34 {
    margin-bottom: 1rem;
    margin-top: 10px;
    margin-right: 3rem !important;
    width: 450px;
    border-radius: 6px;
    outline: none;
    height: 47px;
    border: 2px solid #0A4FB6;
    padding: 9px;
    font-size: 23px;
}
.Folder button {
    width: 450px;
    height: 50px;
    border-radius: 6px;
    margin-top: 2rem;
    background-color: #0A4FB6;
    color: white;
    border: none;
    cursor: pointer !important;
}

@media(min-width:0) and (max-width:550.9px) {
    .Folder button {
        width: 300px;
    }

    .Folder input, .Input34 {
        width: 300px;
    }
}